
/* .left{
    flex: 2;
    display: flex;
    align-items: center;
    gap: 20px;
 
}
.right{
    flex: 2;
    display: flex;
    align-items: center;
   justify-content: space-between;
   position: relative;
 
} */
.rightdropdown{
    position: absolute;
    top: 50px;
    right: 430px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: #1E2A4D;
    color: white;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
    border-radius: 5px;
    
}
.logoTitle{
    display: flex;
    flex-direction: column;
}

.logoTopText{
    font-size: 20px;
    font-weight: bold;
    margin-left: 18px;
    letter-spacing: 1px;
}
.logoButtomText{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* .qtsbtn{
    font-size: 16px;
    line-height: 1.15;
    font-weight: 600;
    padding: 20px 35px;
    border: 2px #ff5e14;
    background: #ff5e14;
    color: #ffffff;
} */


