*{
    margin: 0;
    color: white;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    align-items: center;
   
}
.nav_left{
    display: flex;

}
.nav_img{
    width: 120px;
    height: 30px;
    margin-left: 20px;
}
.nav_center>input{
    width: 500px;
    border: none;
    background-color: black;
}
.nav_center{
    display: flex;
    border: 1px solid gray;
    border-radius: 50px;
}
.nav_right{
    display: flex;
}