.item {
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  
  .itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #007bff;
    background-color: transparent;
    border: none;
  }
  
  .itemBtn:hover {
    background-color: #f3f3f3;
  }
  
  .itemBtnExpanded {
    background-color: #fbeded;
  }
  
  .itemContent {
    transition: height 0.5s ease-in-out;
  }
  
  .itemPanel {
    padding: 1rem;
  }
  
  .chevron {
    margin-left: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .itemBtnExpanded .chevron {
    transform: rotate(180deg);
  }
  